@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #2BD17E;
  --color-error : #EB5757;
  --color-background : #093545;
  --color-input : #224957;
  --color-card : #092C39;

    --font-sans: "Montserrat", sans-serif;

  /* Font sizes */
  --text-h1: 64px;
  --leading-h1: 80px;

  --text-h2: 48px;
  --leading-h2: 56px;

  --text-h3: 32px;
  --leading-h3: 40px;

  --text-h4: 24px;
  --leading-h4: 32px;

  --text-h5: 20px;
  --leading-h5: 24px;

  --text-h6: 16px;
  --leading-h6: 24px;

  --text-body-lg: 20px;
  --leading-body-lg: 32px;

  --text-body: 16px;
  --leading-body: 24px;

  --text-body-sm: 14px;
  --text-body-xs: 12px;
  --text-caption: 14px;

}




/* Apply automatically to HTML tags */
@layer base {
  h1 {
    @apply font-semibold text-[--text-h1] leading-[--leading-h1];
  }
  h2 {
    @apply font-semibold text-[--text-h2] leading-[--leading-h2];
  }
  h3 {
    @apply font-semibold text-[--text-h3] leading-[--leading-h3];
  }
  h4 {
    @apply font-bold text-[--text-h4] leading-[--leading-h4];
  }
  h5 {
    @apply font-bold text-[--text-h5] leading-[--leading-h5];
  }
  h6 {
    @apply font-bold text-[--text-h6] leading-[--leading-h6];
  }
  p {
    @apply font-normal text-[--text-body] leading-[--leading-body];
  }
  body {
    @apply font-sans text-white bg-[#0a0f1c]; /* Example defaults */
  }
}